/* ======================================================
PAGE - CONTACT
====================================================== */
.section-contact {
    padding: 3rem 0;
}
.section-contact-info {

}
.list-contact {
    color: #737373;
    padding: 1rem 0;
}
.list-contact li {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}
.list-contact li i {
    font-size: 30px;
    padding-right: 1rem;
}
.list-contact li p {
    margin-bottom: 0;
}
/* ======================================================
MOBILE
====================================================== */
@media (max-width: 1000px) { 
    
}
@media (max-width: 800px) { 

}