.pg-static {
}
.pg-static-banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat !important;
}
.pg-static-banner .pg-static-banner-overlay {
  background: rgba(10, 10, 10, 0.3);
  min-height: 250px;
  display: flex;
  align-items: center;
}
.pg-static-banner.privacy, .pg-static-banner.cookie {
  background-image: url("~@/assets/site_images/backgrounds/banner-privacy.jpg");
}
.pg-static-banner.faq {
  background-image: url("~@/assets/site_images/backgrounds/banner-faq.jpg");
}
.pg-static-banner.disclaimer, .pg-static-banner.licensing, .pg-static-banner.terms {
  background-image: url("~@/assets/site_images/backgrounds/banner-disclaimer.jpg");
}
.banner-heading {
  width: 95%;
  max-width: 1200px;
  color: #ffffff;
  margin: 0 auto;
  padding: 2rem 0;
}
.banner-heading h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 600;
}
.static-body {
    /*margin-top: 2rem;*/
}
.list-normal ul{
    list-style: circle;
    padding-left: 20px;
}
.list-normal ul li{
    margin-bottom: 10px;
}
.list-ordered ol{
    list-style: upper-roman;
    padding-left: 50px;
}
.list-ordered ol ol{
    list-style: lower-alpha;
    padding-left: 50px;
}
.list-ordered ol ol ol{
    list-style: lower-roman;
    padding-left: 50px;
}
.list-ordered ol li{
    margin-bottom: 10px;
}
.static-subheadings h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.static-subheadings h3{
    margin-top: 10px;
}
.static-subheadings h4{
    margin-top: 10px;
    font-weight: 600;
}
.static-notice-box {
    text-align: center;
    border: 1px solid black;
    margin: 20px auto;
    padding-top: 10px;
    font-weight: 800;
}
.static-notice-box h4{
    font-weight: 800;
    margin-bottom: 10px;
}
.static-hyperlink {
    color: #24cb43;
    text-decoration: underline;
}
.static-contact-info {
    margin-bottom: 30px;
}
.static-contact-info p{
    margin: 0.5rem 1rem;
    line-height: 100%;
    font-weight: 600;
}
.static-underline {
    text-decoration: underline;
}
/* ======================================================
MOBILE
====================================================== */
@media (max-width: 400px) {
  .pg-static-banner .pg-static-banner-overlay {
    min-height: 200px;
  }
  .banner-heading h1 {
    font-size: 28px;
    font-weight: 500;
  }
}